
/*=============================================
=            Backgrounds            =
=============================================*/


/*----------  hero slider backgrounds  ----------*/

.hero-slider-bg-1{
    background-image: url('../img/sliders/slider1.jpg');
}

.hero-slider-bg-2{
    background-image: url('../img/sliders/slider2.jpg');
}

.hero-slider-bg-3{
    background-image: url('../img/sliders/slider3.jpg');
}

.hero-slider-bg-4{
    background-image: url('../img/sliders/slider4.jpg');
}

.hero-slider-bg-5{
    background-image: url('../img/sliders/slider5.jpg');
}

.hero-slider-bg-6{
    background-image: url('../img/sliders/slider6.jpg');
}

.hero-slider-bg-7{
    background-image: url('../img/sliders/slider7.jpg');
}

.hero-slider-bg-8{
    background-image: url('../img/sliders/slider8.jpg');
}

.hero-slider-bg-9{
    background-image: url('../img/sliders/slider9.jpg');
}

.hero-slider-bg-10{
    background-image: url('../img/sliders/slider10.jpg');
}

.hero-slider-bg-11{
    background-image: url('../img/sliders/slider11.jpg');
}

.hero-slider-bg-12{
    background-image: url('../img/sliders/slider12.jpg');
}

.hero-slider-bg-13{
    background-image: url('../img/sliders/slider13.jpg');
}

.hero-slider-bg-14{
    background-image: url('../img/sliders/slider14.jpg');
}




/*----------  banner backgrounds  ----------*/

.banner-bg-1{
    background-image: url('../img/banners/banner-big3.jpg');
}



/*----------  newsletter backgrounds  ----------*/

.newsletter-bg-1{
    background-color: $apple-green;
    background-image: url('../img/newsletter/newsletter1.jpg');
}

.newsletter-bg-2{
    background-color: $apple-green-light;
    background-image: url('../img/newsletter/newsletter2.jpg');
}

.newsletter-bg-3{
    background-color: $pomegranate-red;
    background-image: url('../img/newsletter/newsletter3.jpg');
}

.newsletter-bg-4{
    background-color: $cerulean-blue;
    background-image: url('../img/newsletter/newsletter4.jpg');
}

/*=====  End of Backgrounds  ======*/

