
/*=============================================
=           FAQ            =
=============================================*/


.faq-wrapper {

    .panel.panel-default {
        border: 1px solid #ebebeb;
        margin-bottom: 20px;
    }
    
    .card, .card-header{
        border-radius: 0;
        
    }

    .card{
        margin-bottom: 15px;

        &:last-child{
            margin-bottom: 0; 
        }
    }

    .card-header{
        padding: 0;
        border-bottom: 0;
        background-color: #e9e9e9;

        h5{
            button{
                width: 100%;
                text-align: left;
                color: #333;
                font-weight: 500;
                padding: 10px 20px;
                position: relative;
                overflow-wrap: break-word;
                white-space: normal;

                span{
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    i.fa{
                        font-size: 12px;
                        visibility: hidden;
                        opacity: 0;
                        display: none;
                    }
                }
                &:hover, &:focus{
                    text-decoration: none;
                }

                &[aria-expanded="true"]{
                    background-color: $apple-green;
                    color: $white;
                    border-radius: 0;
                    span{
                        i.fa.fa-chevron-down{
                            visibility: visible;
                            opacity: 1;
                            display: inline;
                        }
                    }
                }

                &[aria-expanded="false"]{
                    span{
                        i.fa.fa-chevron-up{
                            visibility: visible;
                            opacity: 1;
                            display: inline;
                        }
                    }
                }

                
            }
        }
    }

    .card-body{
        p{
            font-size: 14px;
            line-height: 24px; 
        }
    }

}

/*=====  End of FAQ  ======*/

